.place__container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 24px;
}

.place__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 0 40px;
}

.place__paragraphs {
  grid-row-start: span 3;
}

.place__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
}

.place__names {
  display: grid;
  align-self: end;
  justify-self: start;
}

.place__artist {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.12em;
  text-align: left;
  color: #AAAAAA;
  margin-bottom: 8px;
}

.place__artist-name {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;

}

.place__image {
  max-width: 100%;
  height: auto;
  margin-top: 48px;
  margin-bottom: 61px;
}

.place__paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  margin-top: 48px;
}

.place__paragraph_small-space {
  margin-top: 25px;
}

.place__link {
  width: 355px;
  font-size: 18px;
  font-weight: 600;
  background-color: #0278FE;
  border-radius: 4px;
  padding: 13px 20px 13px 20px;
  margin-bottom: 105px;
  text-align: center;
  text-decoration: none;

}

.place__link:hover {
  cursor: pointer;
  background-color: #0063D2;
}

@media screen and (max-width: 1024px) {
  .place__container {
    padding: 0 16px;
  }

  .place__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 0 28px;
  }

  .place__title {
    font-size: 42px;
    font-weight: 900;
    line-height: 46px;
  }

  .place__artist-name {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  }

  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 31px;
  }
}

@media screen and (max-width: 750px) {
  .place__link {
    width: 280px;
    font-size: 14px;
    font-weight: 600;
    background-color: #0278FE;
    border-radius: 4px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 105px;
    text-align: center;
    text-decoration: none;
  }
}

@media screen and (max-width: 630px) {
  .place__container {
    padding: 0px;
  }

  .place__card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 0 28px;
  }

  .place__title {
    margin: 0 16px;
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    margin-bottom: 30px;
  }

  .place__image {
    width: 600px;
    height: auto;
    margin: 0px auto 30px;
  }

  .place__artist {
    margin: 0 16px 8px 16px;
  }

  .place__artist-name {
    margin: 0 16px 30px 16px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  }

  .place__artist-name_no-margin-bottom {
    margin-bottom: 0px;
  }

  .place__paragraph {
    padding: 0 16px;
    margin: 0 auto 8px auto;
  }

  .place__paragraph_small-space {
    margin-bottom: 22px;
  }

  .place__link {
    margin: 0 auto;
    width: 290px;
    font-size: 14px;
    font-weight: 600;
    background-color: #0278FE;
    border-radius: 4px;
    padding: 15px 21px 15px 21px;
    margin-bottom: 105px;
    text-align: center;
    text-decoration: none;
  }
}
